<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="mySuite" parallel="tests">
<listeners>
	<listener class-name="testListener.TEst1"></listener>
</listeners>


<test name="test">
<parameter name="browser" value="chrome"></parameter>
<classes>
	<class name="testListener.Test2"></class>
</classes>
</test>


<test name="test1">
<parameter name="browser" value="firefox"></parameter>
<classes>
	<class name="testListener.Test2"></class>
</classes>
</test>

</suite>